body {
  margin: 0;
}
/* 
.combo-box {
  background-color: 0.25rem;
  border: 1px solid #aaa;
  display: inline-grid;
  grid-template-columns: 1fr;
  align-items: center;

  select {
    appearance: none;
    border: 0;
    width: 100px;
    background-color: transparent;
    padding: 0.5rem 1rem 0.5rem 2rem;
    z-index: 1;
  }

  select,
  span {
    grid-area: 1 /1 /2 /2;
  }

  span:first-child {
    justify-self: start;
    padding-left: 0.5rem;
  }
  span:last-child {
    justify-self: end;
    padding-right: 0.5rem;
  }
} */

.combo-box {
  margin: 50px;
  border: 1px solid #eee;
  position: relative;
  display: inline-block;
}

select {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 30px;
}
span {
  top: 8px;
  position: absolute;
}

span:first-child {
  left: 5px;
  z-index: -1;
}

span:last-child {
  right: 4px;
  z-index: -1;
}
