/* 변수... */
:root {
  --base-font-family: "SUIT Variable", sans serif;
  --font-size: 0.875rem;
}

/* 텍스트 링크 모음 */
.member-service {
  font-family: var(--base-font-family);
  font-size: 0;
  list-style: none;
  padding-inline-start: 0; /*padding-left*/
  margin: 0;
  text-align: right;

  li {
    display: inline-block;
    margin: 0;
    font-size: var(--font-size);
  }

  a {
    display: inherit;
    padding: 8px 8px 8px 4px;
    margin: 0;
    font-variant: small-caps;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
  }

  /* a:link {
    color: green;
  }
  a:visited {
    color: silver;
  }

  a:active {
    color: aqua;
  }

  a:hover,
  a:focus {
    color: yellow;
  } */
}
