@import url(template.css);

/* input 컴포넌트 */
.form-input {
  --spacing: 10px;
  --border-color: var(--gray-500);

  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing);
  align-items: center;
  input {
    flex-grow: 1;
    border: 0;
    padding: 1px 1px 1px 8px;
    height: 24px;
    block-size: 24px;
    /* width: 100%; */
  }
}
.button {
  --color: var(--white);
  --radius: 3px;

  border: 0;
  padding: 16px 10px;
  color: var(--color);
  border-radius: var(--radius);
  white-space: nowrap;

  &.search-button {
    background-color: black;
    padding: 0 10px;
  }
}

/* 검색 폼 레이아웃 스타일링 */
.search-group {
  background-color: yellow;
  margin: 50px;
  background-image: linear-gradient(to bottom, #ccc, #fff);
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  padding: 15px 25px 10px;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;

  .form-input {
    flex-grow: 1;
  }

  [class*="fab"] {
    padding-right: 0.25em;
    padding-inline-end: 0.25em;
  }

  input,
  button {
    height: 30px;
    block-size: 30px;
  }

  button {
    font-size: 0.875em;
  }
}
