@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}

/* 기본 박스 사이징 설정 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 그라디언트 배경 */
body {
  margin: 0;
  line-height: 1.15;
  font-family: "SUIT Variable", sans-serif;
  background-color: #ccc;
  background-image: url(../images/bg_flower.png),
    linear-gradient(to bottom, #aaa 0%, #ccc 30%, #eee 50%, #fff 100%);
  background-repeat: no-repeat;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* header */
.header {
  background-color: #fff;
  height: 120px;
  padding: 0 28px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  /* background-color: #7e6767; */
  position: absolute;
  top: 45px;
  left: 60px;
  margin: 0;
  font-size: 1em;

  a,
  img {
    vertical-align: top;
    /* 인라인 상자 정렬 */
    /* vertical-align: middle; */
  }
}

/* 텍스트 링크 모음 */
.member-service {
  --spacing: 8px;

  translate: var(--spacing, 8px) 0;
  font-size: 0;
  list-style: none;
  padding-inline-start: 0; /*padding-left*/
  margin: 0;
  text-align: right;

  li {
    display: inline-block;
    margin: 0;
    font-size: 0.875rem;
  }

  a {
    display: inherit;
    padding: var(--spacing, 8px) var(--spacing, 8px) var(--spacing, 8px) 4px;
    margin: 0;
    font-variant: small-caps;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
  }
}

/* visual */

@keyframes moveEffect {
  0% {
    font-size: 12px;
    translate: 0 0;
    /* rotate: 0deg; */
  }
  100% {
    font-size: 24px;
    translate: 320px 75px;
    /* rotate: 45deg; */
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.visual {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 120px;
  block-size: 120px;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: inherit;
    inline-size: inherit;
    height: inherit;
    block-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    animation-name: fadeEffect;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.visual::before {
  background-image: url(/images/ani_flower_01.png),
    url(/images/ani_flower_02.png);
  background-position: 0 -10px, 600px 10px;
  animation-delay: 2000ms;
}
.visual::after {
  background-image: url(/images/ani_flower_03.png),
    url(/images/ani_flower_04.png);
  background-position: 300px 0px, 800px 30px; /*x축 y축*/
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation-name: moveEffect; /*animation 이름 필수속성*/
  animation-duration: 5000ms; /*animation 시간 필수속성*/
  animation-fill-mode: forwards; /*animation이 끝나고 났을때 보여지는 모습*/
  display: inline-block;
  position: relative;
  z-index: 1;
}

/* main */
.main {
  background-color: #fff;
  display: flow-root;
  min-height: 450px;
  padding: 28px 16px 36px;
}

.group {
  border: 1px solid red;
  float: left;
}

.group:nth-child(n + 2) {
  margin-left: 44px;
}

.group1 {
  width: 250px;
  /* background-color: antiquewhite; */
}

.group2 {
  width: 380px;
  /* background-color: silver; */
}

.group3 {
  width: 190px;
  /* background-color: hotpink; */
}

/* slogan */
.slogan {
  /* background-color: rgb(51, 181, 77); */
  height: 10vh;
}
/* footer */
.footer {
  /* background-color: rgb(120, 124, 205); */
}
.footer-inner {
  /* background-color: cadetblue; */
  height: 10vh;
}

/* flex를 지원하는 웹브라우저를 위한 스타일 */
@supports (display: flex) {
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .group:nth-child(n + 2) {
    margin-left: 0px;
  }

  .group3 {
    order: -1;
  }
}
