@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: var(--container-size);
  margin: 0 auto;
}

/* header */
.header {
  background-color: rgb(184, 52, 34);
}
/* visual */
.visual {
  background-color: rgb(197, 146, 52);
}
/* main */
.main {
  background-color: rgb(171, 171, 40);
}
/* slogan */
.slogan {
  background-color: rgb(51, 181, 77);
}
/* footer */
.footer {
  background-color: rgb(44, 49, 158);
}
