.sr-only {
  background: yellow;
  position: absolute;
  /* width: 1px;
  height: 1px; */
  inline-size: 1px; /* width */
  block-size: 1px; /* height */
  /* top 좌표를 말하는 것 inset-block-start: -9999px; */
  margin: -1px;
  clip: rect(
    0,
    0,
    0,
    0
  ); /* 권장되지 않는 속성이지만 과거환경인 경우에는 clip을 인식하고*/
  clip-path: polygon(0 0, 0 0, 0 0); /* 최신환경에는 clip-path를 인식함 */

  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}
