<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내비게이션</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/components/CSS/naviagtion.css" />
  </head>
  <body>
    <h1 class="sr-only">내비게이션</h1>
    <!-- 로고 - 콘텐츠 이미지 -->
    <header class="header">
      <h1 class="logo">
        <a href="/" class="logo-link"
          ><img src="/images/logo.png" alt="웹카페 로고" />
        </a>
      </h1>
      <nav class="navigation">
        <h2 class="sr-only" id="navigationTitle">메인 메뉴</h2>
        <ul role="group" aria-labelledby="navigationTitle" class="menu">
          <!-- ul을 group으로 묶으면서 li을 그룹이 아닌 div처럼 작동 합니다-->
          <li role="none">
            <button
              type="button"
              aria-haspopup="true"
              aria-expanded="true"
              aria-controls="menu1"
            >
              <!-- <span class="button-inner">HTML에 대해</span> 이러한 방식으로 span을 추가해 글자밑에 밑줄을 글자 크기만큼 만들 수 있지만 좋은 방법은 아님 -->
              HTML에 대해
            </button>
            <ul aria-hidden="false" id="menu1">
              <li>
                <a href="/" tabindex="0"
                  ><span class="fas fa-circle-dot"></span> HTML5 소개</a
                >
              </li>
              <li>
                <a href="/" tabindex="0"
                  ><span class="fas fa-circle-dot"></span>레퍼런스 소개
                </a>
              </li>
              <li>
                <a href="/" tabindex="0"
                  ><span class="fas fa-circle-dot"></span>활용예제</a
                >
              </li>
            </ul>
          </li>
          <li role="none">
            <button
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="menu2"
            >
              CSS에 대해
            </button>
            <ul aria-hidden="true" id="menu2">
              <li>
                <!-- aria-hidden 속성이 false 일 때는 스크린 리더가 읽을 수 있기 때문에 하위 메뉴들에 포커스가 갈 수 있게 tabindex를 0(기본값)으로 설정해주고,
      aria-hidden 속성이 true이면 스크린 리더가 읽을 수 없는데 그 상태로 하위 메뉴들에 포커스가 가면 혼란을 일으키기 때문에 tabindex를 꼭 -1로 해줘야 한다  -->
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot">CSS란?</span>
                </a>
              </li>
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot">CSS2 VS CSS3</span>
                </a>
              </li>
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot">CSS의 미래</span>
                </a>
              </li>
            </ul>
          </li>
          <li role="none">
            <button
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="menu3"
            >
              웹표준
            </button>
            <ul aria-hidden="true" id="menu3">
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot"></span>구조설계</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1"
                  ><span class="fas fa-circle-dot"></span>스타일링</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1"
                  ><span class="fas fa-circle-dot"></span>제어 및 동작</a
                >
              </li>
            </ul>
          </li>
          <li role="none">
            <button
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="menu4"
            >
              웹 접근성
            </button>
            <ul aria-hidden="true" id="menu4">
              <li>
                <a href="/" tabindex="-1"
                  ><span class="fas fa-circle-dot"></span> 웹접근성의 이해</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot"></span> WCAG</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot"></span>장차법</a
                >
              </li>
            </ul>
          </li>
          <li role="none">
            <button
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="menu5"
            >
              묻고 답하기
            </button>
            <ul aria-hidden="true" id="menu5">
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot"></span>HTML</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot"></span>CSS</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1"
                  ><span class="fas fa-circle-dot"></span>Javascript</a
                >
              </li>
            </ul>
          </li>
          <li role="none">
            <button
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="menu6"
            >
              자료실
            </button>
            <ul aria-hidden="true" id="menu6">
              <li>
                <a href="/" tabindex="-1"
                  ><span class="fas fa-circle-dot"></span>웹표준</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot"></span>웹접근성</a
                >
              </li>
              <li>
                <a href="/" tabindex="-1">
                  <span class="fas fa-circle-dot"></span>WAI-ARIA
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
