<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>별점</title>
    <link rel="stylesheet" href="/components/CSS/star.css" />
  </head>
  <body>
    <h1>별점</h1>
    <div class="rating">
      <span class="sr-only">구매 평점</span>
      <span aria-label="5점 만점에 5점">
        <!-- 나중에 스크립트로 동적으로 aria-label을 바꾸기 -->
        <span aria-hidden="true">⭐⭐⭐⭐⭐</span>
      </span>
    </div>
  </body>
</html>
